.dashboard-kpi {
  h2 {
    margin-bottom: 20px;
  }

  .cards {
    display: flex;
    gap: 20px;
  }

  .card {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    text-align: center;

    h3 {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }

    .kpi-value {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  .upload {
    background-color: #f39c12; // laranja
  }

  .approval {
    background-color: #2980b9; // azul
  }
}

.chart-row {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;

  .chart-box {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    background: #fafafa;
    padding: 20px;
    border-radius: 8px;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
  }
}
