.menu {
  width: 180px;
  height: 100vh;
  background: #1f2937;
  color: white;
  padding: 24px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;

  &.collapsed {
    width: 60px;
    padding: 24px 8px;

    .menu.collapsed {
      .label {
        display: none;
      }
    }


    ul li a,
    ul li .logout-btn,
    ul li .toggle-btn {
      justify-content: center;
      gap: 0;
    }
  }
  

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 16px;

      a,
      .logout-btn,
      .toggle-btn {
        display: flex;
        align-items: center;
        gap: 12px;
        color: #d1d5db;
        font-weight: 500;
        padding: 10px;
        border-radius: 6px;
        transition: background 0.3s, color 0.3s;
        width: 100%;

        &:hover {
          background: #374151;
          color: #ffffff;
        }

        .material-icons {
          font-size: 20px;
        }
      }

      a.active {
        background: #374151;
        color: #60a5fa;
        border-left: 4px solid #60a5fa;
      }

      .logout-btn {
        color: #f87171;
        border: none;
        background: none;
        cursor: pointer;
      }

      .toggle-btn {
        color: #93c5fd;
        border: none;
        background: none;
        cursor: pointer;
      }
    }
  }
}
a {
  text-decoration: none; // remove sublinhado
}
