<nav class="menu">
  <ul>
    <li *ngIf="isAdmin||isManager||isMember">
      <a routerLink="/dashboard/tasks" routerLinkActive="active"><span class="material-icons">bar_chart</span> Tarefas</a>
    </li>
    <li *ngIf="isAdmin||isManager||isMember">
      <a routerLink="/dashboard/recursos" routerLinkActive="active"><span class="material-icons">group</span> Recursos</a>
    </li>
    <li *ngIf="isAdmin||isManager">
      <a routerLink="/dashboard/clientes" routerLinkActive="active"><span class="material-icons">person</span> Clientes</a>
    </li>
    <li *ngIf="isAdmin||isManager">
      <a routerLink="/dashboard/projetos" routerLinkActive="active"><span class="material-icons">folder</span> Projetos</a>
    </li>
    <li *ngIf="isAdmin">
      <a routerLink="/dashboard/financial-indicators" routerLinkActive="active"><span class="material-icons">paid</span> Indicadores Financeiros</a>
    </li>
    
    <li *ngIf="isAdmin">
      <a routerLink="/dashboard/operation-metrics" routerLinkActive="active"><span class="material-icons">account_tree</span> Indicadores Operacionais</a>
    </li>
    
    <li>
      <button (click)="logout()" class="logout-btn"><span class="material-icons">logout</span> Sair</button>
    </li>
  </ul>
</nav>
