services:
  angular:
    build:
      context: ./frontend/gestor-links
      dockerfile: Dockerfile
    image: linxfsa/linksproject:angular
    platform: linux/amd64
    ports:
      - "4200:80"
    depends_on:
      - server-js
    networks:
      - app-network

  server-js:
    build:
      context: ./frontend/gestor-links/backend-nodes
      dockerfile: Dockerfile
    image: linxfsa/linksproject:server-js
    platform: linux/amd64
    container_name: node-server
    ports:
      - "3000:3000"
    environment:
      - RABBITMQ_HOST=rabbitmq-compose
      - RABBITMQ_PORT=5672
    depends_on:
      - rabbitmq-compose
    networks:
      - app-network

  python-consumer:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: linxfsa/linksproject:python-consumer
    platform: linux/amd64
    volumes:
      - ./uploads:/var/uploads
    environment:
      - UPLOAD_DIR=/var/uploads
      - RABBITMQ_HOST=rabbitmq-compose
      - RABBITMQ_PORT=5672
      - MYSQL_HOST=mysql-compose
      - MYSQL_USER=appuser
      - MYSQL_PASSWORD=AppS3nh@F0rt3!2026
      - MYSQL_DB=left
      - EMAIL_USER=xxx@xxx.com.br
      - EMAIL_PASS=xxxxx
    depends_on:
      mysql-compose:
        condition: service_healthy
      rabbitmq-compose:
        condition: service_started
    networks:
      - app-network

  rabbitmq-compose:
    image: rabbitmq:3-management
    container_name: rabbitmq-compose
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network

  mysql-compose:
    image: mysql:8.0
    container_name: mysql-compose
    environment:
      MYSQL_ROOT_PASSWORD: S3nh@F0rt3!2026
      MYSQL_DATABASE: left
      MYSQL_USER: appuser
      MYSQL_PASSWORD: AppS3nh@F0rt3!2026
      MYSQL_ROOT_HOST: "%"
    ports:
      - "3306:3306"
    volumes:
      - ./backend/initdb:/docker-entrypoint-initdb.d
      - mysql_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 20

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin-compose
    environment:
      PMA_HOST: mysql-compose
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: S3nh@F0rt3!2026
    ports:
      - "8080:80"
    depends_on:
      - mysql-compose
    networks:
      - app-network

  mysql-backup:
    image: mysql:8.0
    container_name: mysql-backup
    command: >
      bash -c "while true; do
        mysqldump -h mysql-compose -u root -pS3nh@F0rt3!2026 --all-databases > /backup/backup-$(date +%F-%H-%M).sql;
        find /backup -type f -mtime +7 -delete;
        sleep 86400;
      done"
    volumes:
      - ./mysql_backups:/backup
    depends_on:
      - mysql-compose
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
