.dashboard {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 24px;
  background-color: #f9fafb;
  overflow-y: auto;
}

.content {
  flex: 1;

  padding: 24px;
  background-color: #f9fafb;
  min-height: 100vh;
  overflow-y: auto;
}
body.menu-collapsed .content {
  margin-left: 60px;
}
