<div class="operation-metrics">
  <h2>Indicadores Operacionais</h2>

  <div class="cards">

    <!-- CARD 1: Recursos -->
    <div class="card tooltip" (click)="irParaTimesheet()">
      <h3>Alocação Total</h3>
      <p class="kpi-value">{{ totalWorkforceAllocated }}h</p>

      <div class="tooltip-box">
        <h4>Por Status</h4>
        <ul>
          <li *ngFor="let s of (statusRecurso | keyvalue)">
            {{ s.key }}: {{ s.value }}
          </li>
        </ul>
      </div>
    </div>

    <!-- CARD 2: Clientes -->
    <div class="card tooltip">
      <h3>Total de Agenda Cadastrada</h3>
      <p class="kpi-value">{{ totalClientAgenda }} Agendas</p>

      <div class="tooltip-box">
        <h4>Por Status</h4>
        <ul>
          <li *ngFor="let s of (statusCliente | keyvalue)">
            {{ s.key }}: {{ s.value }}
          </li>
        </ul>
      </div>
    </div>

  </div>

  <!-- Gráficos -->
  <div class="chart-row">
    <div class="chart-box">
      <h3>Taxa de aprovação</h3>
      <canvas #approvalRateCanvas></canvas>
    </div>

    <div class="chart-box">
      <h3>Agendado vs Horas realizadas</h3>
      <canvas #hoursComparisonCanvas></canvas>
    </div>

    <div class="chart-box">
      <h3>Utilização de recursos</h3>
      <canvas #resourceUtilizationCanvas></canvas>
    </div>
  </div>
</div>
